.gatsby-highlight {
  background-color: #1d1f21;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

pre[class*='language-'] {
  margin-bottom: 1.5rem;
}

a:hover,
a:focus {
  color: #346beb;
  text-decoration: underline;
}

a:hover svg {
  filter: invert(36%) sepia(21%) saturate(6195%) hue-rotate(212deg)
    brightness(94%) contrast(96%);
}
